<% content_for :page_title, "All Posts" %>
<p id="notice"><%= notice %></p>

<% @posts.each do |post| %>
  <div class="row">
    <div class="col-xs-10">
      <div class="row">
        <section class="col-xs-12">
          <h2><%= post.title %></h2>
        </section>
      </div>
      <div class="row">
        <article class="col-xs-12">
          <p><%= post.article %></p>
        </article>
      </div>
    </div>
    <aside class="col-xs-2">
      <div class="row">
        <div class="col-xs-12">
          <h2><%= post.author %></h2>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <p>Category: <%= post.category %></p>
          <p>Published on: <%= post.created_at.strftime("%d/%m/%Y") %></p>
        </div>
      </div>
      <div class="row">
        <div class="col-xs-12">
          <% if can? :manage, post %>
            <p><%= link_to 'Show', post %> / <%= link_to 'Edit', edit_post_path(post) %> / <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></p>
          <% else %>
            <p><%= link_to 'Show Post & Comments', post %></p>
          <% end %>
        </div>
      </div>
    </aside>
  </div>
<% end %>

<% if can? :create, Post %>
  <%= link_to 'New Post', new_post_path, class: 'btn btn-default' %>
<% end %>
