<% content_for :page_title, @post.title %>

<p id="notice"><%= notice %></p>
<section class="row">
  <header class="col-xs-12">
    <h3>By <%= @post.author %> on <%= @post.created_at.strftime("%d/%m/%Y") %>, filed under <%= @post.category %> </h3>
  </header>
</section>
<main class="row">
  <article class="col-xs-12">
  <p><%= @post.article %></p>
  </article>
</main>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
