<% content_for :page_title, @post.title %>

<section class="row">
  <header class="col-xs-12">
    <h3>By <%= @post.author %> on <%= @post.created_at.strftime("%d/%m/%Y") %>, filed under <%= @post.category %> </h3>
  </header>
</section>
<main class="row">
  <article class="col-xs-12">
  <p><%= @post.article %></p>
  </article>
</main>

<div class="row post-article-nav">
  <div class="col-xs-12">
    <% if can? :manage, @post %>
      <%= link_to 'Edit Article', edit_post_path(@post) %> | <%= link_to 'Back to All Posts', posts_path %>
    <% else %>
      <%= link_to 'Back to All Posts', posts_path %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= render 'comments' %>
    <%= will_paginate @comments, class: 'text-center' %>
  </div>
  <div class="col-md-6">
    <%= render 'new_comment' %>
  </div>
</div>


